<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost/controle_arquivos</property> <!-- BD Mane -->
        <property name="connection.driver_class">org.postgresql.Driver</property> <!-- DB Driver -->
        <property name="connection.username">postgres</property> <!-- DB User -->
        <property name="connection.password">0</property> <!-- DB Password --> 
        <mapping class="br.com.project.model.Caixa" />
        <mapping class="br.com.project.model.Arquivo"/> 
        <mapping class="br.com.project.model.Documento" /> 				
    </session-factory>
</hibernate-configuration>
